/* SalaJuntas.css */

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #2b2a2a;
    display: flex;
    align-items: center;
    justify-content: center;
    
  }
  .container {
    background-color: #dde3eb;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 600px;
  }
  
  h1, h2 {
    text-align: center;
    color: #086961;
  }
  
  .reservas-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  /* ReservaForm.css */
.inputRedon {
    background-color: #2e2525;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
  }
  
  .inputRedon h2 {
    color: #086961;
  }
  
  .inputRedon select,
  .inputRedon button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .inputRedon select:hover,
  .inputRedon select:focus,
  .inputRedon input:hover,
  .inputRedon input:focus {
    border-color: #3498db;
  }
  
  .inputRedon button {
    background-color: #3498db;
    color: #fff;
    cursor: pointer;
  }
  
  .inputRedon button:hover {
    background-color: #2980b9;
  }
  
  /* ReservaItem.css */
  .reserva-item {
    border: 1px solid #333;
    padding: 10px;
    margin: 10px;
    width: 200px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1), /* Sombra ligera */
                0 0 10px rgba(0, 0, 0, 0.2), /* Sombra más pronunciada */
                0 0 15px rgba(0, 0, 0, 0.3); /* Sombra más pronunciada */
    background-color: #fff; /* Color de fondo */
  }
  
  .reserva-item h3 {
    color: #086961;
  }
  
  /* Sala.css */
  .sala {
    background-color: #3498db;
    color: #fff;
    padding: 10px;
    margin: 5px;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
  }
  
  .sala:hover {
    background-color: #2980b9;
  }
  
  .sala h3 {
    color: #fff;
  }
  
  .sala p {
    color: #ccc;
  }
  
  /* SalaJuntas.css */
  body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #536b8a;
  }
  
  h1, h2 {
    text-align: center;
    color: #086961;
  }
  
  .reservas-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

 /* ReservaForm.css */

 .inputRedon {
  background-color: #3498db; /* Color de fondo */
  padding: 20px;
  border-radius: 15px; 
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); 
  margin-top: 20px;
  max-width: 600px; 
  width: 100%; 
  box-sizing: border-box; 
  margin-left: auto; /* Centra horizontalmente */
  margin-right: auto; /* Centra horizontalmente */
}

.inputRedon h2 {
  color: #fff; 
  font-family: 'Arial', sans-serif;
}

.inputRedon select,
.inputRedon button {
  width: 100%;
  padding: 15px;
  margin-bottom: 15px;
  box-sizing: border-box;
  border: 2px solid #fff; 
  border-radius: 8px;
  background-color: #2ecc71; /* Color de fondo del input y botón */
  color: #fff; /* Texto blanco */
  cursor: pointer;
}

.inputRedon select:hover,
.inputRedon select:focus,
.inputRedon input:hover,
.inputRedon input:focus,
.inputRedon button:hover {
  background-color: #27ae60; 
}

/* Para hacerlo responsive */
@media screen and (max-width: 600px) {
  .inputRedon {
    padding: 10px; 
  }
  
  .inputRedon select,
  .inputRedon button {
    padding: 10px;
    margin-bottom: 10px;
  }
}


